# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# venvs
*.venv/

#database files
*.db
.env
backend/app/movies.db-wal
backend/app/movies.db-shm
backend/app/database/movies.db-wal
backend/app/database/movies.db-shm
backend/app/database/embeddings.pkl
backend/app/database/movie_cosine_similarities.pkl
backend/app/database/movie_embeddings.npy
backend/app/database/virtue_model.pkl
.firebase/hosting.ZGlzdA.cache
backend/app/database/movies3.db.wal
backend/app/database/movies.db?mode=ro
backend/app/database/movies.db.wal

src/db/database.ts
backend.zip
archive.zip
